<div>
  <div>
    <h1>
      My Bar Contents
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new ingredient
    </h2>

    <form action="/insert_purchase" method="post">
      <div>
        <label for="material_id_box">
          Ingredients
        </label>
        <select id="material_id_box" name="query_material_id">
          <% @list_of_materials.each do |a_material| %>
          <option value = "<%= a_material.id %>"> <%= a_material.name %></option>
          <% end %>
        </select>  
      <button class="btn btn-primary">
        Add to bar
      </button>
      </div>
    </form>
  </div>
</div>

<hr>
<% if @list_of_purchases == nil %>
<% else %>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Material name
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_purchases.each do |a_purchase| %>
      <tr>
        <td>
          <%= a_purchase.material.name %>
        </td>
        <td>
          <a class="btn btn-secondary" href="/delete_purchase/<%= a_purchase.id %>">Remove from bar</a>
        </td>
        
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>

<hr>
