<div>
  <div>
    <h1>
      List of all purchases
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new purchase
    </h2>

    <form action="/insert_purchase" method="post">
      <div>
        <label for="material_id_box">
          Material
        </label>
        <select id="material_id_box" name="query_material_id">
          <% @list_of_materials.each do |a_material| %>
          <option value = "<%= a_material.id %>"> <%= a_material.name %></option>
          <% end %>
        </select>  
      <button>
        Add to bar
      </button>
      </div>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Material name
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_purchases.each do |a_purchase| %>
      <tr>
        <td>
          <%= a_purchase.material.name %>
        </td>
        <td>
          <a href="/delete_purchase/<%= a_purchase.id %>">Remove from bar</a>
        </td>
        
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
