<div>
  <div>
    <h1>
      List of all materials
    </h1>
  </div>
</div>

<hr>
<%# may not want to be able to add new materials... functional but commented out for now
<div>
  <div>
    <h2>
      Add a new material
    </h2>

    <form action="/insert_material" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <button>
        Create material
      </button>
    </form>
  </div>
</div>
%>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_materials.each do |a_material| %>
      <tr>
        <td>
          <%= a_material.id %>
        </td>

        <td>
          <%= a_material.name %>
        </td>

        <td>
          <%= a_material.description %>
        </td>

        <td>
          <a href="/materials/<%= a_material.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
